<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LinesXFree.cocos"
    android:installLocation="auto">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->

    <!--联运SDK跳转游戏中心-->
    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS"/>
    <!--联运SDK监听网络状态变化，在支付登录过程中做一些异常处理-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--允许程序访问Wi-Fi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--判断游戏是否是在主进程初始化，避免初始化进程错误导致功能不可用-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--获取安装权限，更新安装vivo服务安全插件apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--android11及以上必须添加此权限才能获取vivo服务安全插件安装包的状态-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    &lt;!&ndash;可选权限&ndash;&gt;-->
<!--    &lt;!&ndash; 如果接入了视频相关的广告, 请务必添加否则黑屏 &ndash;&gt;-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="com.cocos.game.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <!-- Tell CocosNativeActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos" />

        <activity
            android:name="com.cocos.game.AppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.cocos.lib.CocosEditBoxActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <meta-data
            android:name="vivo_union_sdk"
            android:value="4.7.4.1" />

        <!-- vivo sdk componets start -->
        <!--vivo sdk的Activity-->
        <activity android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="vivounion"
                    android:host="union.vivo.com"
                    android:path="/openjump"/>
            </intent-filter>
        </activity>
        <!-- vivo sdk componets end -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

    </application>



</manifest>
